{{ $where := .Params.stats.where }}
{{ $distance := .Params.stats.distance }}
{{ $elevation := .Params.stats.elevation }}
{{ $date := .Params.stats.date }}

<div class="callout">
  {{ if $where }}
  <div>
    <span class="block text-sm font-medium">📍 Location</span>
    <span class="block text-sm">{{ $where }}</span>
  </div>
  {{ end }}
  {{ if $distance }}
  <div>
    <span class="block text-sm font-medium">🥾 Distance (roundtrip)</span>
    <span class="block text-sm">{{ $distance }}</span>
  </div>
  {{ end }}
  {{ if $elevation }}
  <div>
    <span class="block text-sm font-medium">⛰️ Elevation</span>
    <span class="block text-sm">{{ $elevation }}</span>
  </div>
  {{ end }}
  {{ if $date }}
  <div>
    <span class="block text-sm font-medium">📅 Dates hiked</span>
    <span class="block text-sm">{{ $date }}</span>
  </div>
  {{ end }}
</div>