{{ if .Params.description }}<meta name="description" content="{{ .Params.description }}"/>{{ else if .Site.Params.description }}<meta name="description" content="{{ .Site.Params.description }}"/>{{ end }}
{{ if .Params.meta_title }}<meta property="og:title" content="{{ .Params.meta_title }}"/>{{ else }}<meta property="og:title" content="{{ .Title }}"/>{{ end }}
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ .Permalink }}"/>
{{ if .Params.image }}<meta property="og:image" content="{{ .Params.image | absURL }}"/>{{ else if .Site.Params.seo.meta_og_image }}<meta property="og:image" content="{{ .Site.Params.seo.meta_og_image | absURL }}"/>{{ end }}
{{ if .Params.description }}<meta property="og:description" content="{{ .Params.description }}"/>{{ else if .Site.Params.description }}<meta property="og:description" content="{{ .Site.Params.description }}"/>{{ end }}
<meta property="og:site_name" content="{{ .Site.Title }}"/>
<meta property="og:locale" content="{{ .Site.Language.Lang }}"/>
<meta name="twitter:card" content="summary_large_image"/>
{{ if .Site.Params.seo.meta_twitter_site }}<meta name="twitter:site" content="{{ .Site.Params.seo.meta_twitter_site }}"/>{{ end }}
{{ if .Site.Params.seo.meta_twitter_creator }}<meta name="twitter:creator" content="{{ .Site.Params.seo.meta_twitter_creator }}"/>{{ end }}